<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    {% for y in values %}
    <input type="text" name="employ_name" value="{{ y.employ_name }}">
    <input type="number" name="employ_number" value="{{ y.employ_number }}">
    <select name="employ_department" >
        {% for x in value %}
        <option value="{{ x.department_id }}" {% if y.employ_department.department_id == x.department_id %} selected {% endif %}>{{ x.department_name}}</option>
        {% endfor %}
    </select>
    {% endfor %}
    <button type="submit">submit</button>
</body>
</html>